# Eclipse project files
.classpath
.project
.settings/

# Compiled output
bin/
build/

# Libraries
lib/

# Local configuration files
*.properties


src/agilemeetingdash/emailhandler/emailhandler.java
